.keep-alert {
  width: 100%;
  background: url(../img/bg-keep-alert.png) #272736 no-repeat center center;
  height: 300px;
  .intro-text {
    color: white;
    font-size: 51px;
    line-height: 56px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: 86px;
  }
  .call-text {
    text-align: center;
    color: white;
    position: relative;
    top: 70px;
    .title {
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .description {
      font-size: 18px;
      font-weight: 400;
      .icon {
        color: $color-tertiary;
        font-size: 36px;
        margin-top: 40px;
        animation-name: btnDown;
        animation-duration: .7s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
}

@keyframes btnDown {
    from {@include transform(traslateY(0));}
    to { 
      @include transform(translateY(10px));
    }
}

@media screen and (max-width: 1199px){
  .keep-alert .intro-text {
    font-size: 46px;
    line-height: 52px;
  }
  .keep-alert .call-text {
    top: 90px;
  }
  .keep-alert .call-text .title {
    font-size: 28px;
  }
  .keep-alert .call-text .description {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px){
  .keep-alert {
    height: 180px;
    background-size: (342px/2) auto;
  }
  .keep-alert .intro-text {
    font-size: 33px;
    line-height: 36px;
    top: 50px;
  }
  .keep-alert .call-text {
    top: 45px;
  }
  .keep-alert .call-text .title {
    font-size: 22px;
  }
  .keep-alert .call-text .description {
    font-size: 12px;
    .icon {
      margin-top: 10px;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 767px){
  .keep-alert {
    background-image: none;
    text-align: center;
    height: auto;
    padding: 20px 0;
    .intro-text, .call-text {
      top: 0;
      position: static;
    }
    .intro-text {
      margin-bottom: 15px;
    }
  }
}