.keep-update {
  background: $color-primary;
  padding: 25px 0;
  color: white;
  @include transition(.2s all linear);
  header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
  }
  .btn {
    display: block;
    padding: 0;
    margin: 5px 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #3f4043;
    .icon {
      display: block;
      float: left;
      width: 50px;
      height: 50px;
      background: rgba(0,0,0,.1);
      font-size: 30px;
      .ion:before { line-height: 50px; }
    }
    .text {
      display: block;
      float: left;
      font-size: 24px;
      font-weight: bold;
      line-height: 50px;
      padding-left: 20px;
      height: 50px;
    }
    &:hover {
      background: lighten(#3f4043, 5%);
      text-decoration: none;
    }
    &.tw { background: #1da1f2;
        &:hover { background: lighten(#1da1f2, 5%); }
    }
    &.fb { background: #3b5998;
        &:hover { background: lighten(#3b5998, 5%); }
    }
  }
}

@media screen and (max-width: 991px){
  .keep-update .btn .text { font-size: 18px; }
}