/* vendor */
.gdialog-shadow {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-size: 16px;
}

.gdialog-wrap {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  box-sizing: border-box;
  padding: 20px;
  background: transparent;
  display: none;
}
.gdialog-wrap.is-active {
  display: block;
}
.gdialog-wrap .gdialog-container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-height: 100px;
  max-width: 500px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.gdialog-wrap .gdialog-header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  line-height: 1.4em;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444;
  text-align: center;
  cursor: default;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
.gdialog-wrap .gdialog-content {
  width: 100%;
  min-height: 80px;
  clear: both;
  padding: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  color: #444;
  box-sizing: border-box;
}
.gdialog-wrap .gdialog-content .gdialog-field {
  width: 100%;
  clear: both;
  margin: 10px 0;
  width: 100%;
}
.gdialog-wrap .gdialog-content .gdialog-field input {
  display: block;
  width: 100%;
  height: 37px;
  line-height: 37px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  color: #444;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: .9em;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: none;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.1);
  background-image: none;
  background-color: #ecf0f1;
}
.gdialog-wrap .gdialog-content .gdialog-field input.is-invalid {
  border-color: red;
}
.gdialog-wrap .gdialog-button-group {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  clear: both;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.gdialog-wrap .gdialog-button-group .button {
  display: block;
  width: 50%;
  height: 50px;
  float: left;
  background-color: transparent;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1em;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  text-transform: uppercase;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
.gdialog-wrap .gdialog-button-group .button.button-ok {
  color: #2980b9;
  float: none;
  width: 100%;
}
.gdialog-wrap .gdialog-button-group .button.button-cancel {
  color: #c0392b;
}
.gdialog-wrap .gdialog-button-group .button.button-cancel + .button-ok {
  float: left;
  width: 50%;
}
.gdialog-wrap .gdialog-button-group .button:active {
  background-color: whitesmoke;
}

@media screen and (max-width: 480px) {
  .gdialog-wrap .gdialog-header {
    font-size: .9em;
    line-height: 1.4em;
  }

  .gdialog-wrap .gdialog-content {
    font-size: .8em;
    line-height: 1.2em;
  }
  .gdialog-wrap .gdialog-content .gdialog-field input {
    font-size: 1em;
  }

  .gdialog-wrap .gdialog-button-group {
    font-size: .8em;
  }
}
/* core */
/* layout */
body {
  background: white;
  font-family: "PT Sans", sans-serif;
  color: #3a3a3a;
}

a {
  color: #e84060;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rpwwt-widget ul li img {
  margin: 0 auto;
}

#rpwwt-recent-posts-widget-with-thumbnails-2 img {
  height: auto;
  max-width: 100%;
}

body.home .btn-more-articles {
  background: #e84060;
  height: 50px;
  margin: 20px 0;
  width: 100%;
  border-radius: 3px;
  display: block;
  color: white;
  font-size: 22px;
  font-weight: 600;
  line-height: 50px;
  padding: 0;
}
body.home .btn-more-articles:hover {
  background: #db1a3f;
}

/* modules */
#header {
  width: 100%;
  padding: 20px 0;
  background: white;
  border-bottom: 1px solid #d8d;
}
#header::after {
  clear: both;
  content: "";
  display: table;
}
#header .site-title {
  display: block;
  margin: 0;
  padding: 0;
}
#header .site-title > a {
  display: block;
  background: url(../img/logo.png) no-repeat center center;
  width: 258px;
  height: 68px;
  overflow: hidden;
  text-indent: -999px;
}
#header .site-title > a:hover {
  opacity: .9;
}
#header .search-wrap {
  position: relative;
  background: #2e2e52;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  margin: 5px auto;
}
#header .search-wrap .form-control {
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  color: white;
  width: calc(100% - 50px);
  border: 0;
  height: 50px;
  float: left;
  margin: 0;
  font-size: 16px;
}
#header .search-wrap .btn {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 50px;
  background: transparent;
  color: white;
  font-size: 36px;
}
#header .search-wrap .btn:hover {
  color: #e84060;
}

@media screen and (max-width: 768px) {
  #header {
    padding: 10px 0;
  }

  #header .site-title > a {
    margin: 0 auto;
    width: 129px;
    height: 34px;
    background-size: 129px auto;
  }

  #header .search-wrap {
    margin: 15px auto;
  }
}
.block-afilliate {
  width: 100%;
  margin: 20px 0;
  background-color: #e6e6e6;
  text-align: center;
}
.block-afilliate img {
  max-width: 100%;
  height: auto;
}

.keep-update {
  background: #101013;
  padding: 25px 0;
  color: white;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.keep-update header {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}
.keep-update .btn {
  display: block;
  padding: 0;
  margin: 5px 0;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #3f4043;
}
.keep-update .btn .icon {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 30px;
}
.keep-update .btn .icon .ion:before {
  line-height: 50px;
}
.keep-update .btn .text {
  display: block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  padding-left: 20px;
  height: 50px;
}
.keep-update .btn:hover {
  background: #4b4d50;
  text-decoration: none;
}
.keep-update .btn.tw {
  background: #1da1f2;
}
.keep-update .btn.tw:hover {
  background: #35abf3;
}
.keep-update .btn.fb {
  background: #3b5998;
}
.keep-update .btn.fb:hover {
  background: #4264aa;
}

@media screen and (max-width: 991px) {
  .keep-update .btn .text {
    font-size: 18px;
  }
}
.keep-alert {
  width: 100%;
  background: url(../img/bg-keep-alert.png) #272736 no-repeat center center;
  height: 300px;
}
.keep-alert .intro-text {
  color: white;
  font-size: 51px;
  line-height: 56px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 86px;
}
.keep-alert .call-text {
  text-align: center;
  color: white;
  position: relative;
  top: 70px;
}
.keep-alert .call-text .title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.keep-alert .call-text .description {
  font-size: 18px;
  font-weight: 400;
}
.keep-alert .call-text .description .icon {
  color: #ffe000;
  font-size: 36px;
  margin-top: 40px;
  animation-name: btnDown;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes btnDown {
  from {
    -webkit-transform: traslateY(0);
    -moz-transform: traslateY(0);
    -ms-transform: traslateY(0);
    -o-transform: traslateY(0);
    transform: traslateY(0);
  }
  to {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@media screen and (max-width: 1199px) {
  .keep-alert .intro-text {
    font-size: 46px;
    line-height: 52px;
  }

  .keep-alert .call-text {
    top: 90px;
  }

  .keep-alert .call-text .title {
    font-size: 28px;
  }

  .keep-alert .call-text .description {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .keep-alert {
    height: 180px;
    background-size: 171px auto;
  }

  .keep-alert .intro-text {
    font-size: 33px;
    line-height: 36px;
    top: 50px;
  }

  .keep-alert .call-text {
    top: 45px;
  }

  .keep-alert .call-text .title {
    font-size: 22px;
  }

  .keep-alert .call-text .description {
    font-size: 12px;
  }
  .keep-alert .call-text .description .icon {
    margin-top: 10px;
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .keep-alert {
    background-image: none;
    text-align: center;
    height: auto;
    padding: 20px 0;
  }
  .keep-alert .intro-text, .keep-alert .call-text {
    top: 0;
    position: static;
  }
  .keep-alert .intro-text {
    margin-bottom: 15px;
  }
}
#colophon {
  width: 100%;
  background-color: #131315;
  padding: 30px 0;
  color: white;
  font-size: 14px;
}
#colophon::after {
  clear: both;
  content: "";
  display: table;
}
#colophon a {
  color: inherit;
}
#colophon .brand {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: url(../img/brand.png);
  overflow: hidden;
  text-indent: -999px;
}
#colophon p {
  float: left;
  padding: 10px;
  margin: 0;
}

@media screen and (max-width: 991px) {
  #colophon {
    padding: 15px 0;
  }
  #colophon .brand {
    float: none;
    margin: 0 auto 10px;
    background-size: 25px auto;
    width: 25px;
    height: 26px;
  }
  #colophon p {
    float: none;
    text-align: center;
    font-size: 9px;
    padding: 5px 0;
  }
}
#content {
  min-height: calc( 100vh - 280px );
  background: white;
}
#content::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 991px) {
  #content {
    min-height: calc(100vh - 370px);
  }
}
.entry-share {
  display: block;
  width: 100%;
  margin: 10px 0;
}
.entry-share::after {
  clear: both;
  content: "";
  display: table;
}
.entry-share div {
  font-size: 12px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 5px;
}
.entry-share div i {
  color: #e84060;
}
.entry-share ul {
  list-style: none;
  padding: 0;
  margin-left: -5px;
  display: block;
  width: calc(100% + 5px);
  overflow: hidden;
}
.entry-share ul li {
  width: 25%;
  float: left;
  display: block;
  list-style: none;
  padding-left: 5px;
  vertical-align: top;
}
.entry-share ul li a {
  display: block;
  height: 40px;
  background: #ccc;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  border-radius: 3px;
  width: 100%;
}
.entry-share ul li a:hover {
  opacity: .9;
}
.entry-share ul li.fb a {
  background: #3b5998;
}
.entry-share ul li.tw a {
  background: #1da1f2;
}
.entry-share ul li.ld a {
  background: #1985BC;
}
.entry-share ul li.gp a {
  background: #E04A39;
}
.entry-share ul li.wp a {
  background: #5BD066;
}

@media screen and (max-width: 991px) {
  .entry-share ul li {
    width: 20%;
  }
}
#primary {
  width: calc( 100% - 320px );
  float: left;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  #primary {
    width: 100%;
    float: none;
    padding-right: 0;
  }
}
#secondary {
  width: 320px;
  background: white;
  padding: 20px 10px;
  float: right;
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  #secondary {
    width: 100%;
    float: none;
    margin: 20px auto;
  }
}
#main {
  width: 100%;
}
#main .post-full .cover {
  width: 100%;
  height: auto;
  background-color: #ccc;
  background-position: center center;
  background-size: cover;
  display: block;
  position: relative;
  border-radius: 5px 5px 0 0;
  margin-top: 20px;
  overflow: hidden;
}
#main .post-full .cover img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#main .post-full .cover span {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
#main .post-full img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 30px auto;
  background: whitesmoke;
}
#main .post-full iframe {
  margin: 0 auto;
}
#main .post-full .entry-header {
  border-bottom: 1px solid whitesmoke;
  background: #2e2e52;
  padding: 20px 15px;
}
#main .post-full .entry-header .cat {
  font-size: 14px;
  color: #21cfab;
  font-weight: bold;
  text-transform: uppercase;
}
#main .post-full .entry-header .posted-on a {
  font-size: 14px;
  color: #727288;
  font-weight: bold;
}
#main .post-full .entry-header .entry-title {
  padding: 0;
  color: white;
  font-size: 2.8em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
}
#main .post-full .entry-footer {
  border-top: 10px solid #404073;
  background: #2e2e52;
  padding: 20px 15px;
  color: whitesmoke;
}
#main .post-full .entry-footer a {
  color: whitesmoke;
}
#main .post-full .entry-content {
  font-family: "PT Serif", serif;
  background: white;
  font-size: 18px;
  color: #5d5d5d;
  line-height: 1.8em;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}
#main .post-full .entry-content::after {
  clear: both;
  content: "";
  display: table;
}
#main .post-full .entry-content h1,
#main .post-full .entry-content h2,
#main .post-full .entry-content h3,
#main .post-full .entry-content h4,
#main .post-full .entry-content h6,
#main .post-full .entry-content h5 {
  font-weight: 700;
  margin-top: 1.2em;
  font-family: "PT Sans", sans-serif;
  color: #2e2e52;
}
#main .post-full .entry-content h1 {
  font-size: 3em;
}
#main .post-full .entry-content h2 {
  font-size: 2.5em;
}
#main .post-full .entry-content h3 {
  font-size: 2em;
}
#main .post-full .entry-content h4 {
  font-size: 1.5em;
}
#main .post-full .entry-content p {
  margin: 1em 0;
}
#main .post-full .entry-content blockquote {
  font-size: 1.5em;
  font-style: italic;
  color: #8c8c8c;
  border-left-color: #e84060;
}
#main .post-full .entry-content a {
  color: #e84060;
  text-decoration: underline;
}
#main .post-full .entry-content a:hover {
  text-decoration: none;
}
#main .post-full .entry-content .cat-links, #main .post-full .entry-content .tags-links {
  display: inline-block;
  vertical-align: top;
  font-family: "PT Sans", sans-serif;
}
#main .post-full .entry-content .cat-links a, #main .post-full .entry-content .tags-links a {
  display: inline-block;
  vertical-align: top;
  background: #e84060;
  border-radius: 3px;
  margin: 3px;
  padding: 0 5px;
  color: white;
  line-height: 1em;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  #main .post .entry-content {
    font-size: 16px;
  }

  #main .post .entry-header .entry-title {
    font-size: 2.4em;
  }
}
#main .post-mini {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid whitesmoke;
}
#main .post-mini::after {
  clear: both;
  content: "";
  display: table;
}
#main .post-mini .cover {
  width: 280px;
  height: 180px;
  background-color: #ccc;
  background-position: center center;
  background-size: cover;
  display: block;
  float: left;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
#main .post-mini .cover span {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: white;
  font-size: 14px;
}
#main .post-mini .cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 5px;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
#main .post-mini .cover:hover:before {
  background: rgba(0, 0, 0, 0.2);
}
#main .post-mini .entry-header {
  width: calc(100% - 280px);
  float: left;
  border-bottom: 0;
  padding-left: 30px;
}
#main .post-mini .entry-header .cat {
  font-size: 14px;
  color: #21cfab;
  text-transform: uppercase;
}
#main .post-mini .entry-header a {
  color: inherit;
}
#main .post-mini .entry-header .entry-title {
  color: #3a3a3a;
  font-size: 28px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
}
#main .post-mini .entry-header .btn {
  border: 2px solid #e84060;
  background: transparent;
  color: #e84060;
  font-weight: bold;
}
#main .post-mini .entry-header .btn:hover {
  background: #e84060;
  color: white;
}

@media screen and (max-width: 719px) {
  #main .post-mini .cover {
    width: 100%;
    float: none;
  }

  #main .post-mini .entry-header {
    width: 100%;
    float: none;
    padding: 10px 0;
  }
}
.postcard {
  display: block;
  width: 100%;
  height: auto;
  margin: 15px auto;
  text-decoration: none;
  color: #2e2e52;
}
.postcard .image {
  display: block;
  width: 100%;
  height: 250px;
  background-color: #000;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-radius: 5px;
}
.postcard .title {
  color: #3a3a3a;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  height: 100px;
}
.postcard:hover, .postcard:focus {
  color: #2e2e52;
}

.postcard.postcard-lg {
  display: block;
  width: 100%;
  height: 500px;
  position: relative;
  margin: 30px 0;
  overflow: hidden;
  border-radius: 5px;
  background: #000;
}
.postcard.postcard-lg .image {
  display: block;
  width: 100%;
  height: 100%;
  opacity: .5;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.postcard.postcard-lg .text {
  top: 0;
  left: 0;
  z-index: 1;
  display: table;
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(15, 16, 22, 0.35);
  padding: 0 15%;
}
.postcard.postcard-lg .text span {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 991px) {
  .postcard .image {
    height: 200px;
  }

  .postcard.postcard-lg {
    height: 350px;
    padding: 0;
  }
  .postcard.postcard-lg .text {
    font-size: 38px;
    padding: 50px;
  }
}
@media screen and (max-width: 767px) {
  .postcard.postcard-lg {
    height: auto;
    padding: 10px;
  }
  .postcard.postcard-lg .text {
    position: relative;
    padding: 15%;
    font-size: 28px;
  }

  .postcard .title {
    height: auto;
    margin-bottom: 30px;
  }
}
.adwrap {
  padding: 5px 0;
  background: whitesmoke;
  width: 100%;
  text-align: center;
  margin: 10px auto;
  overflow: hidden;
}
.adwrap::after {
  clear: both;
  content: "";
  display: table;
}

.newsletter-headerbar {
  background-color: #1f1f2b;
  padding: 15px 0;
  width: 100%;
  text-align: right;
}
.newsletter-headerbar::after {
  clear: both;
  content: "";
  display: table;
}
.newsletter-headerbar .btn-facebook {
  background-color: #3b5998;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  float: left;
}
.newsletter-headerbar .warn {
  display: inline-block;
  line-height: 50px;
  color: white;
  padding-right: 11px;
}
.newsletter-headerbar .input-group {
  width: 470px;
  float: right;
}
.newsletter-headerbar .input-group .btn {
  background-color: #21cfab;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.newsletter-headerbar .input-group .input-lg {
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (max-width: 1199px) {
  .newsletter-headerbar .input-group {
    width: 360px;
  }
}
@media screen and (max-width: 767px) {
  .newsletter-headerbar {
    text-align: center;
  }

  .newsletter-headerbar .input-group {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    float: none;
  }

  .newsletter-headerbar .warn {
    display: block;
    line-height: 21px;
    margin-bottom: 10px;
    padding: 0;
    float: none;
  }
}
@media screen and (max-width: 991px) {
  body.single-post {
    padding-bottom: 70px;
  }
  body.single-post .entry-share {
    display: none;
  }
  body.single-post #onesignal-bell-container.onesignal-reset .onesignal-bell-launcher.onesignal-bell-launcher-bottom-right {
    bottom: 80px !important;
  }

  .fixed-entry-share {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 0 10px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  .fixed-entry-share .entry-share {
    display: block !important;
    margin: 5px 0;
  }
  .fixed-entry-share .entry-share ul {
    margin-bottom: 0;
  }
}
